<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Statement Reader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container pt-3">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>

    <h1 class="text-primary">Bank Statement Reader</h1>
    <p></p>
    <div class="row">
        <div class="col-10 mx-auto">
            <!--display error if any-->
            <h3 th:if="${!status}">Statement import process failed.</h3>
            <div class="alert alert-danger" role="alert" th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>

            <p class="text-secondary" th:if="${status}">Statement successfully imported.</p>
            <p></p>
            <h4 class="text-primary" th:if="${status}">Summary by Category</h4>
            <table class="table table-striped table-sm table-hover" th:if="${status}">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category, i : ${categories}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td class="text-primary" th:text="${category.key}"></td>
                    <td th:text="${#numbers.formatDecimal(category.value, 2, 2, 'COMMA')}"></td>
                </tr>
                </tbody>
            </table>
            <p></p>
            <h4 class="text-primary" th:if="${status}">Statement Transactions</h4>
            <table class="table table-striped table-sm table-hover" th:if="${status}">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Value</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction, i : ${transactions}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${transaction.transactionDate}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${#numbers.formatDecimal(transaction.transactionValue, 2, 2, 'COMMA')}" align="RIGHT"></td>
                    <td th:text="${transaction.category}" class="text-primary"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
	// get current URL path and assign 'active' class
	var pathname = window.location.pathname;
	$('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
})
</script>
</body>
</html>